@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fac4c410;
}
.input-container{
    width: min(100% - 1em, 400px);
    margin-inline: auto;
}
.input-container input[type="file"]{
    width: 100%;
    border: 2px solid #fc5a01;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #29119d;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.input-container input[type="file"]::-webkit-file-upload-button{
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    margin-right: 10px;
    letter-spacing: 0.5px;
    color: #fff;
    outline: none;
    border: none;
    background: #fc5a01;
    cursor: pointer;
}